<footer id="footer">
    <div class="container">
      <div class="row">
        <div class="span12 pos-r">
          <h2>Porque utilizar o ID da Cultura?</h2>
          <div class="texture-footer">
            <div id="logo-id"></div>
            <div id="background-footer"></div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="span5">
        <p>
        	1 - Você gerencia seus dados pessoais.<br>
		2 - Arranjos de confiança para identidade digital.<br>
		3 - Segurança e comodidade.<br>
        </p>
        <h2>Fale Conosco</h2>
        <div>

          Endereço: Esplanada dos Ministérios, Bloco B, 3º andar, CEP 70068-900, <br>
          Brasília - Distrito Federal <br>Telefone: 55 61 2024 2626<br/>
	  <a style="font-weight: bold" href="/contact">Entre em contato</a>	  
        </div>
        <div class="span9">
         <div class="row space90"></div>
          <nav class="navbar">
            <!-- Menu -->
            <ul class="nav">
              <li class="active"><a href="/about" title="">Sobre</a></li>
              <li class="active"><a href="/privacy" title="">Privacidade</a></li>
              <li class="active"><a href="/help" title="">Ajuda</a></li>	      
              <li class="active"><a href="https://github.com/culturagovbr/id-cultura" title="">Repositório Git</a></li>

            </ul><select class="nav-responsive"><option value="#send" selected="selected"> Entrar no ID Cultura</option><option value="https://github.com/culturagovbr/id-cultura" selected="selected"> Repositório no GitHub</option><option value="#top" selected="selected"> Topo</option></select><select class="nav-responsive"><option selected="selected" value="#"> Entrar no ID Cultura</option><option selected="selected" value="#"> Repositório no GitHub</option><option selected="selected" value="#"> Topo</option></select>
          </nav>
          <div class="row space15 hidden-phone"></div>
        </div>



        </div>
      </div>

      <div class="row space50"></div>
      <div class="row">
        <div class="span6">
          <div class="logo-footer">
            <a href="#"><img src="bundles/procergslogincidadaocore/img/logo-footer.png" alt=""></a>
            Integrando serviços digitais.
          </div>
        </div>
        <div class="span6 right">
          <br>
          <!-- USO PARA INFORMACOES ADICIONAIS -->
        </div>
      </div>

    </div>
</footer>
